<launch>

  <node pkg="ml_strategy"
    type="ml_strategy"
    name="wizard_strategy"
    output="screen">

    <!-- List of team quad names (first one is goalkeeper) -->
    <rosparam param="MyTeam"> ["phoenix",
                               "gryphon",
                               "pegasus"] </rosparam>

    <!-- Initial position quads (meters) -->
    <rosparam param="InitialPosition"> [-5.0,  0.0, 1.0,
                                        -6.0, -1.5, 1.1,
                                        -6.0,  1.5, 1.2] </rosparam>
    <!-- Initial yaw quads (radians) -->
    <rosparam param="InitialYaw"> [0.0,
                                   0.0,
                                   0.0] </rosparam>

    <!-- Balloon positions -->
    <rosparam param="TeamBalloon"> [-7.5, 0.0, 1.425] </rosparam>
    <rosparam param="EnemyBalloon"> [7.5, 0.0, 1.425] </rosparam>


    <!-- Dynamic parameters -->
    <rosparam param="max_acceleration"> 2.0 </rosparam>
    <rosparam param="max_velocity"> 1.0 </rosparam>

  </node>

</launch>